
<div class=" container row" >
      
    <a  class="btn btn-primary" href="https://vk.com/id365668272" target="_blank">VK</a>
    <br />
    <a class="btn btn-dark" href="https://www.facebook.com/profile.php?id=100013570968965" target="_blank">FB.COM</a>

</div> 

